// MAIN COLOR
$mainColor: #ee252d;
$blockBackcolor: #eaeaea;

// HEADER COLOR
$pizzaColor: #ea2229;
$mainColor: #ee252d;
$headerMenucolor: #494949;
$headerTextcolor: #ffffff;

// CONTENT COLOR
$createColor: #ef2e35;
$contentTextcolor: #282828;
$contentLoremcolor: #959595;
$contentMenucolor: #494848;

// FOOTER COLOR
$footerCoprcolor: #eaeaea;

// CONTENT FONTS
$pizzaFont: "Gill Sans MT";
$menuFont: "Montserrat", sans-serif;
$CreateFont: "Montserrat", sans-serif;
$loremFont: "Roboto", sans-serif;
$readmoreFont: "Montserrat", sans-serif;
